* {
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(0, 0, 0);
}

html {
    background-color: #eaeaea50;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

header {
    grid-column: 1/5;
    grid-row: 1;
}

aside:first-of-type {
    grid-column: 1;
    grid-row: 2/5;
    overflow-y: auto;
    /* Scroll vertical si es necesario */
    overflow-x: hidden;
    /* Oculta el scroll horizontal */
}

section {
    grid-column: 2/3;
    grid-row: auto;
    margin-right: 10%;
}

aside:last-of-type {
    grid-column: 3;
    grid-row: 2/4;

}

footer {
    grid-column: 1/5;
    grid-row: auto;
    background-color: rgb(43, 147, 113);
}

/* header */
.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0% 2%;
    border-bottom: 2px solid #007A33;
}

.logo {
    grid-column: 1/2;
    grid-row: 1;
}

.logo-header {
    border-radius: 50%;
    width: 5vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.iniciarSesion {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 150, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-right: 8%;
    font-size: 100%;
    width: 8rem;
    padding: 2%;

}

.tresPuntos {
    grid-column: 5;
    grid-row: 1;
    color: rgb(215, 212, 212);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* aside izquierda */
.aside1 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 2%;
    border-right: 2px solid #007A33;
}

.popular {
    border-bottom: 1px solid#007A33;
    margin: 2% 2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: #007A33;
    align-items: center;
    justify-content: space-between;
}

.temas {
    margin: 2% 2%;
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: #007A33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comunidades {
    border-bottom: 1px solid #007A33;
    margin: 2% 2%;
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: #007A33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textoAside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.050rem;
    color: #000000;
    padding: 1%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
}

/* section */

.section {
    display: flex;
    flex-direction: column;
}

.card-section {
    margin: 2% 1%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3%;
    background-color: rgba(185, 251, 192, 0.485);
    border-radius: 1rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.imagenLogo-section {
    border-radius: 50%;
    width: 3vw;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-right: 5%;
}

.encabezado-section {
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.encabezado-section>div {
    margin-right: 5%;
    /* Espacio entre los textos */
}

.encabezado-section>div:last-child {
    margin-right: 0;
    /* Elimina el margen del último elemento */
}

.fecha-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unirseBoton-section {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 150, 136);
    border-radius: 1rem;
    width: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.section-card {
    grid-column: 1/5;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
}

.titulo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.videos-fotos-section {
    grid-column: 1/5;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    max-width: 100%;
}

.video-section {
    max-width: 50vw;
    width: 100%;
}

.imagen-section {
    max-width: 75vw;
    max-height: 50vh;
    height: 100%;
    width: 100%;

}

.pie-section {
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    justify-content: flex-start;
}

.pie-section>div {
    margin-right: 5%;
    background-color: rgb(0, 150, 136);
    width: 5rem;
    border-radius: 1rem;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajusta el espacio entre elementos */
}

/* Elimina el margen del último elemento */
.pie-section>div:last-child {
    margin-right: 0;
}

.votos-section {
    width: 10rem;
    border-radius: 1rem;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarios-section {

    justify-content: center;
    align-items: center;
}

.compartir-section {

    justify-content: center;
    align-items: center;
}

/* aside2 lado derecho */

.aside2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: -5px -5px 10px #4caf4f30;
    border-radius: 1rem;
    padding: 2%;
    width: 80%;
    height: 50vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    /* Scroll vertical si es necesario */
    overflow-x: hidden;
    /* Oculta el scroll horizontal */
    margin-bottom: 10%;
    margin-top: 5%;
}

.comunidades-aside {
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.card-aside2 {
    margin: 5% 0%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}

.titulo-aside {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    text-align: center;
    justify-content: flex-start;

}

.imagenLogo-aside {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

.nombre-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.miembros-aside {
    grid-column: 1/3;
    grid-row: 2;
    color: rgb(152, 152, 152);
    display: flex;
    justify-content: flex-start;
}

/* Ventana modal de iniciar sesion  */

.modalIniciarSesion {
    display: none;
    position: fixed;
    /*Se posiion fijo en la pantalla*/
    z-index: 1000;
    /*Estará por encima de otros elementos*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro con opacidad */
    ;
}

.modal-content-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1113;
    margin: 5% auto 0% auto;
    padding: 4%;
    width: 100%;
    height: 70%;
    border-radius: 3rem;
    max-width: 350px;
}
.titulo-iniciarSesion{
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-content-sesion form {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.modal-content-sesion input{
    background-color: #5558595e;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    width: 20vw;
    height: 5vw;
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal-content-sesion input:last-of-type{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto-registro{
    margin-top: 15%;
    color: white;
}
.texto-registro a{
    color: rgb(0, 170, 255);
    text-decoration: none

}

/*  */
@media (max-width: 600px) {
    .imagenLogo-section {
        width: 10vw;
    }

    aside:last-of-type {
        display: none;
    }

    section {
        grid-column: 2/5;
        grid-row: 2;
    }

    aside:first-of-type {
        display: none;
    }
}