* {
    padding: 0;
    margin: 0;
    border: 0;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

header {
    grid-column: 1/5;
    grid-row: 1;
}

aside:first-of-type {
    grid-column: 1;
    grid-row: 2/5;
    border-right: 2px solid rgba(201, 201, 201, 0.603);
    overflow-y: auto;
}

section {
    grid-column: 2/4;
    grid-row: auto;
}

aside:last-of-type {
    grid-column: 4;
    grid-row: 2/4;
}

footer {
    grid-column: 1/5;
    grid-row: auto;
    background-color: rgb(43, 147, 113);
}

/* header */
.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0% 2%;
    border-bottom: 2px solid rgba(201, 201, 201, 0.603);
}

.logo {
    grid-column: 1/2;
    grid-row: 1;
}

.logo-header {
    border-radius: 50%;
    width: 8vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.iniciarSesion {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(124, 105, 191, 0.652);
    height: 3vh;
    color: black;
    margin-right: 8%;
    font-size: 100%;
    width: 8rem;

}

.tresPuntos {
    grid-column: 5;
    grid-row: 1;
    color: rgb(215, 212, 212);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* aside*/
.aside {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;

}

.popular {
    border-bottom: 1px solid rgba(201, 201, 201, 0.603);
    margin: 2% 2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temas {
    margin: 2% 2%;
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: rgb(124, 105, 191);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comunidades {
    border-bottom: 1px solid rgba(201, 201, 201, 0.603);
    margin: 2% 2%;
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: rgb(124, 105, 191);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textoAside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.050rem;
    color: black;
    padding: 1%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
}

/* section */

.section {
    display: flex;
    flex-direction: column;
}

.card-section {
    margin: 2% 1%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3%;
    background-color: rgba(242, 242, 242, 0.194);
    border-radius: 1rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.imagenLogo-section {
    border-radius: 50%;
    width: 3vw;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-right: 5%;
}
.encabezado-section{
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.encabezado-section > div {
    margin-right: 5%; /* Espacio entre los textos */
}
 .encabezado-section > div:last-child {
    margin-right: 0; /* Elimina el margen del último elemento */
} 
.fecha-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unirseBoton-section {
    margin-left: auto;
    grid-column: 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 105, 191);
    border-radius: 1rem;
    width: 4rem;
    height: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.titulo-section {
    grid-column: 1/5;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido-section {
    grid-column: 1/5;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.videos-fotos-section {
    grid-column: 1/5;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    max-width: 100%;
}

.video-section {
    max-width: 50vw;
    width: 100%;
}

.imagen-section {
    max-width: 75vw;
    max-height: 50vh;
    height: 100%;
    width: 100%;
   
}
.pie-section{
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    justify-content:flex-start;
}
.pie-section > div {
    margin-right: 5%; /* Ajusta el espacio entre elementos */
}
/* Elimina el margen del último elemento */
.pie-section > div:last-child {
    margin-right: 0;
}

.votos-section {
    grid-column: 1;
    grid-row: 5;
    justify-content: center;
    align-items: center;
}

.comentarios-section {
    grid-column: 2;
    grid-row: 5;
    justify-content: center;
    align-items: center;
}

.compartir-section {
    grid-column: 3;
    grid-row: 5;
    justify-content: center;
    align-items: center;
}

/*@media (max-width: 600px) {
    .iniciarSesion {
        font-size: 100%;
        width: 12rem;
    }
}*/