* {
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(0, 0, 0);

}

/* crear post , perfil */
.perfil {
    grid-column: 5;
    grid-row: 1;
    color: rgb(215, 212, 212);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.perfil img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.CrearPost {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 150, 136);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-right: 8%;
    font-size: 100%;
    width: 8rem;
    padding: 2%;

}

.nombre-usuario {
    margin-right: 1rem;
}

/* crearPublicaciones */
.CrearPublicaciones-titulo {
    display: flex;
    justify-content: flex-start;
    margin: 5%;

}

.Crearpublicaciones-select {
    border-radius: 1rem;
    width: 16rem;
    padding: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    background-color: gainsboro;
}

.CrearPublicaciones-opciones {
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    margin: 3% 0% 0% 5%;
    cursor: pointer;
}

.CrearPublicaciones-opciones div {
    border: 1px solid black;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CrearPublicaciones-titulo {
    margin-left: 5%;
}

.CrearPublicaciones-titulo input {
    width: 40rem;
    border-radius: 1rem;
    border: 1px solid black;
    color: black;
    padding: 2%;
}

.CrearPublicaciones-contenido {
    margin-left: 5%;

}

.CrearPublicaciones-contenido textarea {
    border-radius: 1rem;
    border: 1px solid black;
    width: 40rem;
    padding: 2%;
    height: 4rem;
}

.CrearPublicaciones-contenido input {
    border-radius: 1rem;
    border: 1px solid black;
    width: 40rem;
    padding: 2%;
}

.CrearPublicaciones-botonPost {
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.CrearPublicaciones-botonPost button {
    background-color: gainsboro;
    border-radius: 1rem;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}



html {
    background-color: #eaeaea50;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
    position: relative;
    z-index: 100;
    /* esté por encima del contenido */
}

/* aside de crear Post */
.first-aside {
    grid-column: 1;
    grid-row: 2/4;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 1px solid #007A33;
}


section {
    grid-column: 2;
    grid-row: 2;
    margin: 0 10%;
    overflow-y: auto;
}

.second-aside {
    grid-column: 3;
    grid-row: 2/4;
    position: relative;

}

footer {
    grid-column: 1 / 4;
    grid-row: 4;
}

/* header */
.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0% 2%;
    border-bottom: 2px solid #007A33;

}

.logo {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bars {
    display: none;
}

.logo-header {
    border-radius: 50%;
    width: 5vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.iniciarSesion {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45a049;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-right: 8%;
    font-size: 100%;
    width: 8rem;
    padding: 8px;
    margin: 5% 0% 5% -10%;
}

.tresPuntos {
    grid-column: 5;
    grid-row: 1;
    color: rgb(215, 212, 212);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* aside izquierda */
.aside1 {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    width: 100%;
}


.popular {
    border-bottom: 1px solid #45a049;
    margin: 2% 2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: #007A33;
    align-items: center;
    justify-content: space-between;
}

.recientes {
    border-bottom: 1px solid #45a049;
    ;
    margin: 2% 2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: #007A33;
    align-items: center;
    justify-content: space-between;
}

.temas {
    margin: 2% 2%;
    padding-bottom: 2%;
    font-size: 1.125rem;
    border-bottom: 1px solid #45a049;
    color: #007A33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comunidades {
    border-bottom: 1px solid #45a049;
    margin: 2% 2%;
    padding-bottom: 2%;
    font-size: 1.125rem;
    color: #007A33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textoAside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.050rem;
    color: #000000;
    padding: 1%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2%;
    cursor: pointer;
}

/* section */

.section {
    display: flex;
    flex-direction: column;
}

.card-section {
    margin: 1% 1% 0% 0%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3% 0% 0% 0%;
    border-top: 1px solid gray;
}

.imagenLogo-section {
    border-radius: 50%;
    width: 50px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-right: 0%;
    height: 50px;
}

.logo-texto {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 3% 0%;
}

.logo-texto img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.logo-texto div {
    margin-left: 10%;
}

.encabezado-section {
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.encabezado-section>div {
    margin-right: 5%;
    /* Espacio entre los textos */
}

.encabezado-section>div:last-child {
    margin-right: 0;
    /* Elimina el margen del último elemento */
}

.fecha-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unirseBoton-section {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45a049;
    border-radius: 1rem;
    width: 5rem;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.section-card {
    grid-column: 1/5;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
}

.titulo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    justify-content: flex-start;
}

.videos-fotos-section {
    grid-column: 1/5;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    max-width: 100%;
}

.video-section {
    max-width: 100%;
    width: 100%;
}

.imagen-section {
    max-width: 75vw;
    max-height: 50vh;
    height: 100%;
    width: 100%;

}

.pie-section {
    grid-column: 1/5;
    grid-row: 5;
    display: flex;
    justify-content: flex-start;
}

.pie-section>div {
    margin-right: 5%;
    background-color: #007A33;
    width: 6rem;
    border-radius: 1rem;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Elimina el margen del último elemento */
.pie-section>div:last-child {
    margin-right: 0;
}

.votos-section {
    width: 10rem;
    border-radius: 1rem;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarios-section {

    justify-content: center;
    align-items: center;
}

.compartir-section {

    justify-content: center;
    align-items: center;
}

/* aside2 lado derecho */

.aside2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    padding: 2% 2%;
    width: auto;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #8080800d;
    margin-right: 3%;

}

.comunidades-aside {
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.card-aside2 {
    margin: 5% 0%;
    display: flex;
    flex-direction: row;
}

.contenido-aside2 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.imagenLogo-aside {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

.miembros-aside {
    color: rgb(120, 120, 120);
}

/* Ventana modal de iniciar sesion  */

.modalIniciarSesion {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1113;
    margin: 0% auto;
    padding: 1%;
    width: auto;
    height: auto;
    border-radius: 3rem;
}

.titulo-iniciarSesion {
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.modal-content-sesion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.modal-content-sesion input[type="text"],
.modal-content-sesion input[type="password"] {
    background-color: #5558595e;
    border-radius: 3rem;
    width: 11rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0px 2rem;
    color: #fff;
    font-size: 1rem;
    border: none;
}

.modal-content-sesion input[type="submit"] {
    color: white;
    background-color: #0066cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 15rem;
    height: 4rem;
    border-radius: 3rem;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

.texto-registro {
    margin-top: 15%;
    color: white;
}

.texto-registro a {
    color: rgb(0, 170, 255);
    text-decoration: none
}

/* ---------------------------------------------------------VENTNA MODAL REGISTRAR------------------------------------------------------------------------- */
.modalRegistrar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content-registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1113;
    margin: 0% auto;
    padding: 1%;
    width: auto;
    height: auto;
    border-radius: 3rem;
}

.titulo-registrarse {
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.cerrar {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    /* Agregado para indicar que es un botón */
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.modal-content-registrarse form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.modal-content-registrarse input[type="text"],
.modal-content-registrarse input[type="email"],
.modal-content-registrarse input[type="password"] {
    background-color: #5558595e;
    border-radius: 3rem;
    width: 11rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0px 2rem;
    color: #fff;
    font-size: 1rem;
    border: none;
}

.modal-content-registrarse input[type="submit"] {
    color: white;
    background-color: #0066cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 15rem;
    height: 4rem;
    border-radius: 3rem;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

.modal-content-registrarse input[type="submit"]:hover {
    background-color: #005bb5;
    /* Efecto hover para el botón */
}

.modal-content-registrarse input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
    /* Resalta los campos seleccionados */
}

.contenido {
    height: 50px;
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    display: none;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
}

.verde {
    background-color: #009688;
    color: black;
}

.rojo {
    background-color: red;
    color: black;
}

.back {
    cursor: pointer;
}

#card-comentarios {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.conteinerEncabezado-comentarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.flecha-comentarios,
.imagen-comentarios img {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}

.nombre-comentarios,
.fecha-comentarios {
    margin-left: 10px;
}

.titulo-post-comentarios {
    font-size: 1.5rem;
    font-weight: bold;
}

.imagen-post-comentarios img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.containerBotones-comentarios {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.boton {
    background-color: #009688;
    padding: 5px 10px;
    border-radius: 1rem;
    margin-right: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.inputComentar input,
.respuesta-form input {
    width: 100%;
    border-radius: 1rem;
    margin: 2% 0%;
    height: 2rem;
    padding: 0 10px;
}

.card-caja-comentarios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comentario {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.containerComentarios {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.comentario-sub {
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.subcomentarios {
    margin-top: 15px;
    padding-left: 20px;
    border-left: 2px solid #e0e0e0;
}

.contenido-comentario {
    margin: 10px 0;
    font-size: 0.95rem;
    color: #333;
    word-wrap: break-word;
}

.comentar-comentarios {
    margin-left: 20px;
    font-size: 0.85rem;
    color: #555;
    cursor: pointer;
}

.boton-enviar-comentario {
    border-radius: 1rem;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00796b;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
    margin-left: auto;
}

.boton-enviar-comentario:hover {
    background-color: #005b54;
}

/* Nuevos estilos opcionales */
.nombre-comentario {
    font-weight: bold;
    font-size: 1rem;
    color: #00796b;
}

.fecha-comentario {
    font-size: 0.85rem;
    color: #999;
}

.imagen-comentarios img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.contenedorComentarioNombre {
    display: flex;
}

.comentarios {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
}

.subcomentarios .comentario-sub {
    margin-left: calc(var(--nivel) * 20px);
    /* Ejemplo: Desplazar según el nivel */
}

.mensaje {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    /* Ajusta la posición desde arriba */
    left: 50%;
    transform: translateX(-50%);
    /* Centra horizontalmente */
    z-index: 100;
}

.error {
    color: red;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

@media (min-width: 1061px) {
    .first-aside {
        display: flex !important;
        /* Muestra el aside en pantallas más grandes */
    }

    .bars {
        display: none;
        /* Oculta el botón en pantallas más grandes */
    }
}

/* medias queries */
@media (max-width: 1060px) {
    .mostrar {
        display: block;
        background-color: white;
        width: 15rem;
    }

    .first-aside {
        display: none;
        background-color: white;
        width: 15rem;

    }

    .aside2 {
        margin-left: 0%;
        width: 13rem;
    }

    section {
        grid-row: 2 !important;
        grid-column: 1/3 !important;
        margin: 0% !important;
    }

    .fondo {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .bars {
        display: block;
    }

    .card-section {
        margin: 1% 5%;
    }
}


@media (max-width: 960px) {
    .mostrar {
        display: block;
        background-color: white;
        width: 15rem;
    }

    .first-aside {
        background-color: white;
        width: 15rem;
    }

    .second-aside {
        display: none;
    }

    section {
        grid-row: 2!important;
        grid-column: 1/5!important;
        margin: 0%!important;
    }

    .fondo {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .bars {
        display: block;
    }
}